@media screen and (max-width:1300px){
    .cards{
        display: flex;
        justify-content:flex-start;
        flex-wrap:wrap;
    }
    .slider{
        height: 70vh;
    }
}
@media screen and (max-width:800px) {
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .logo{
        margin-top: 10px;
    }
    .search{
        margin-bottom: 10px;
    }
    .slider{
        height: 40vh;
    }
    .card-items img{
        width: 100px;
    }
    
}